:root {
  --text-color: rgb(241, 120, 0);
  --link-color: rgb(58, 58, 187);
  --background-color: rgb(17, 122, 131);
}

/* ABOUT-SECTION */
.about {
  display: flex;
  width: 70%;
  gap: 30px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  align-items: center;
}

.self-pic {
  width: 400px;
  border-radius: 20px;
}

.text {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
}

.heading {
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
}

.description p{
  line-height: 25px;
}

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .self-pic {
    border-radius: 10%;
    width: 350px;
    height: auto;
    margin: auto;
  }

  .text {
    color: white;
    font-size: 13px;
    background-color: rgb(12, 83, 90);
    padding: 15px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-bottom: -60px;
  }
}