:root {
  --text-color: rgb(241, 120, 0);
  --link-color: rgb(58, 58, 187);
  --background-color: rgb(17, 122, 131);
}

.feedback {
  display: block;
  position: relative;
  min-height: 50vh;
  width: 100%;
  max-width: 900px;
  padding: 40px;
  gap: 80px;
  border-radius: 10px;
  background-color: rgb(12, 83, 90);
  box-shadow: 0 0 10px black;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.heading {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 600;
  line-height: 1.5;
}

.text {
  font-size: 18px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    color: gray;
    font-size: 30px;
}

.stars i {
    cursor: pointer;
}

.stars i.active {
    color: var(--text-color);
}

form {
  margin-top: 20px;
}
.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input, .input-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(212, 212, 212);
}

.input-box textarea {
  resize: none;
  height: 100px;
}

.submit-btn {
  display: inline-block;
  color: var(--text-color);
  font-family: 'montserrat';
  background-color: rgb(9, 77, 77);
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px;
  transition: 0.15s;
}

.submit-btn:hover {
    background-color: rgb(11, 94, 94);
    box-shadow: 1px 1px 8px black;
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 768px) {
    .feedback {
        width: 80%;
    }
}