:root {
  --text-color: rgb(241, 120, 0);
  --link-color: rgb(58, 58, 187);
  --background-color: rgb(17, 122, 131);
}

.title {
  background-color: rgb(12, 83, 90);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
  box-shadow: 0 0 7px black;
}

.title h1 {
  color: var(--text-color);
  font-size: 80px;
  text-shadow: 0.5px 0.5px 4px black;
}

/* SKILLSTABLE */
table {
  table-layout: fixed;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

table, tr, th, td {
  color: var(--text-color);
  background-color: rgb(12, 83, 90);
  border: solid;
  border-color: rgb(17, 122, 131);
  border-collapse: collapse;
  text-align: center;
}

th {
  padding: 15px;
  font-size: 30px;
   text-shadow: 1px 1px black;
}

td {
  padding: 30px;
  color: white;
}

@media (max-width: 786px){
  .title h1 {
    font-size: 40px;
  }

  th {
    font-size: 20px;
  }

  td {
    font-size: 12px;
  }
}